@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange: #F2C14E;
  --winning-blocks: #2d414b;
  --draw-blocks: red;
  --turn-color :var(--orange) ;
}

body {
  color: var(--orange);
  font-family: 'Finger Paint', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("https://static.vecteezy.com/system/resources/previews/004/532/221/original/tic-tac-toe-seamless-background-on-dark-blue-illustration-vector.jpg");
  backdrop-filter: blur(20px);
  background-size: cover;
  
}

.heading {
 
  text-align: center;
  margin: 30px 0px;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;

}

h2 {
  font-size: 60px;
  text-transform: uppercase;

}
.maindisplay {
  width: 80vw;
  height: 95vh;
  max-width: 450px;

}

.game {
  width: 100%;
  height: 55%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  padding: 30px 20px;
  max-height: 450px;
  margin-bottom: 10px;
}

.turn {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose {
  width: 40%;
  height: 60px;
  
  display: flex;
}
.turn1 , .turn2 {
  width: 50%;
  height: 100%;
  display:flex ;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: #333;
}




.box {
  border: none;
   
  color: var(--orange);
  font-size: 80px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Finger Paint', cursive;
  


}

.box:hover {
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, .7);
}

.box:nth-child(3n) {
  border-right: none;
}

.box:nth-child(6)~.box {
  border-bottom: none;
}

.btns {
  text-align: center
}

.reset {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--orange);
  color: #333;
  border-color: var(--orange);
  font-size: 18px;
  transition: 200ms transform;
  font-weight: 600;
  
}

.reset:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.playerText {
  text-align: center;
}

footer {
  width: 100%;

  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 50px 0 0px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 20px;
}



.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.personal-info {
  flex-basis: 30%;
  padding: 10px;
}

.personal-info h2 {
  margin-bottom: 40px;

  font-size: 20px;
  width: fit-content;
}

.personal-info h3 {
  margin-bottom: 15px;
}

.personal-info i {
  margin-right: 10px;
}

.contact,
.social {
  flex-basis: 20%;
}

.contact h2 {
  width: fit-content;
  font-size: 20px;
  margin-bottom: 40px;
  position: relative;
}

.contact a {
  display: block;
  margin-top: 20px;
  font-size: 20px;
  text-decoration: dashed;
  color: aqua;
}

.email {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0px;
}

.social h2 {
  margin-bottom: 30px;
  font-size: 20px;
  width: fit-content;
}

.social h5 {
  font-size: 15px;
  margin: 10px 0;
}

.social h5 a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

.social h5 .fa-brands {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
  font-size: 10px;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: relative;
  top: 5px;
  left: 0;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 5s linear infinite;
  overflow: hidden;
}

@keyframes moving {
  0% {
    left: -10px;
  }

  100% {
    left: 100%;
  }
}

@media (max-width: 1100px) {



  
.heading {
 
  text-align: center;
  margin: 30px 0px;
}

h1 {
  font-size: 100px;
  text-transform: uppercase;

}
h3 {
  font-size: 60px;
}
h5{
  font-size: 40px;
}

h2 {
  font-size: 100px;
  text-transform: uppercase;

}
.maindisplay {
  max-width: 80%;
}

.game {
  max-height: 784px;
  margin-bottom: 10px;
}

.turn1 , .turn2 {
  font-size: 120px;
}

.box {
  font-size: 150px;
}


.btns {
  height: 5%;
  margin: 10%;
}

.reset {
  height: 100%;
  width: 40%;
  border-radius: 30px;
  font-size: 30px;
  font-family: 'Finger Paint', cursive;

  
}


.playerText {
  text-align: center;
}



  footer {
    padding-top: 100px;
  }

  .personal-info {
    flex-basis: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .contact {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .social {
    flex-basis: 100%;
  }

  .social h5 .fa-brands {
    height: 40px;
    width: 40px;
    border-radius: none;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }
}
